@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.header {
    padding: 10px 0;
    text-align: center;
}

.header .logo_menu {
    display: inline-block;
    margin-right: 20px; /* Ajuste a margem conforme necessário */
}

.header .logo_menu img {
    max-width: 200px; /* Define a largura máxima do logo */
    height: auto; /* Mantém a proporção da altura conforme a largura */
}

.header .search_bar {
    display: flex;
    align-items: center;
}

.header .search_bar input[type="text"] {
    margin-right: 10px; /* Espaçamento entre input e botão */
    padding: 7px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    border-radius: 24px;
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color: black;
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 150px;
    height: auto;
    margin-bottom: 15px;
}

.product h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 10px;
}

.product button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #0056b3;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* Estilo do Footer */
.footer_informs {
    background-color: #333; /* Cor de fundo do footer */
    color: white; /* Cor do texto no footer */
    padding: 20px 0; /* Espaçamento interno */
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 40px; /* Espaçamento superior */
}

.footer_informs h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer_informs h4 {
    font-size: 14px;
    margin: 5px 0;
    color: #ddd;
    text-decoration: none;
}

.footer_informs h4:hover {
    color: #fff; /* Cor de texto ao passar o mouse */
}

.category_footer, .cookies_policy, .social_networks {
    margin-top: 15px;
}

.footer_category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorys, .cookies_policy, .social_networks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_networks a {
    color: #ddd;
    text-decoration: none;
    margin: 5px;
}

.social_networks a:hover {
    color: #007bff; /* Cor de destaque ao passar o mouse */
}
