@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.home_section {
    padding: 10px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.logo_menu {
    display: inline-block;
    margin-right: 20px; /* Ajuste a margem conforme necessário */
}

.logo_menu img {
    max-width: 200px; /* Define a largura máxima do logo */
    height: auto; /* Mantém a proporção da altura conforme a largura */
}

.search_bar {
    display: flex;
    align-items: center;
}

.search_bar input[type="text"] {
    margin-right: 10px; /* Espaçamento entre input e botão */
    padding: 7px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    border-radius: 24px;
}

.home_nav {
    padding: 10px 0;
    text-align: center;
}

.nav-item {
    margin: 5px; /* Espaçamento entre itens de navegação */
    padding: 5px 10px;
    text-decoration: none;
    color: white; /* Cor do texto */
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.white_rectangle {
    background-color: white;
    min-height: 100vh; /* 100% da altura da viewport */
    width: 100%; /* 100% da largura */
    margin-top: 20px; /* Ajuste o espaçamento superior conforme necessário */
    padding: 20px; /* Adicione padding se necessário */
    box-sizing: border-box; /* Para incluir o padding na altura e largura */
    position: relative; /* Para que o main possa ser posicionado sobre ele */
}

main {
    position: absolute; /* Posição absoluta em relação ao body */
    top: 450px;
    left: 0;
    width: 100%; /* Ocupa toda a largura disponível */
    height: 350px; /* Altura determinada conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Cor do texto dentro do main */
    z-index: 1; /* Coloca acima do retângulo branco */
    padding: 20px;
    box-sizing: border-box; /* Para incluir o padding nas dimensões */
}

.slider {
    width: 100%; /* Ocupa toda a largura da página */
    overflow: hidden; /* Esconde os slides além dos limites visíveis */
    position: relative;
}

.slide {
    width: 100%; /* Cada slide ocupa 100% da largura do slider */
    display: none; /* Inicialmente, esconde todos os slides */
    position: relative; /* Assegura que os elementos absolutos estejam relativos a este contêiner */
}

.slide_active {
    display: block; /* Mostra apenas o slide ativo */
}

.content {
    position: absolute; /* Posiciona o conteúdo relativamente ao slide */
    top: 10%; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    width: 100%;
    text-align: center; /* Centraliza o texto horizontalmente dentro do contêiner */
    z-index: 1; /* Garante que a .content esteja acima de outros elementos na mesma camada */
}

.slide h1 {
    color: #fff;
    position: relative; /* Permite o uso de z-index dentro do .content */
    z-index: 2; /* Valor maior para garantir que fique acima do <p> */
    width: 100%;
    padding: 0 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.slide p {
    color: #fff;
    position: relative; /* Permite o uso de z-index dentro do .content */
    z-index: 1; /* Valor menor para ficar abaixo do <h1> */
    width: 100%;
    padding: 0 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.content {
    max-width: 50%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    padding: 0 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.buttons {
    position: absolute;
    bottom: -830px; /* Posição vertical a partir do rodapé */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza perfeitamente */
}

.btn-primary, .btn-secondary {
    background-color: #007bff; /* Cor de fundo dos botões */
    color: white; /* Cor do texto dos botões */
    border: none; /* Remove borda */
    padding: 10px 20px; /* Espaçamento interno dos botões */
    margin-right: 10px; /* Espaçamento entre os botões */
    cursor: pointer;
    border-radius: 5px; /* Borda arredondada */
}

.btn-secondary {
    background-color: #6c757d; /* Cor de fundo do botão secundário */
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Estilo do Footer */
.footer_informs {
    background-color: black; /* Cor de fundo do footer */
    color: white; /* Cor do texto no footer */
    padding: 20px 0; /* Espaçamento interno */
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.footer_informs h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 220px; 
}

.footer_informs h4 {
    font-size: 14px;
    margin: 5px 0;
    color: #ddd;
    text-decoration: none;
}

.footer_informs h4:hover {
    color: #fff; /* Cor de texto ao passar o mouse */
}

.category_footer, .cookies_policy, .social_networks {
    margin-top: 15px;
}

.footer_category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorys, .cookies_policy, .social_networks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_networks a {
    color: #ddd;
    text-decoration: none;
    margin: 5px;
}

.social_networks a:hover {
    color: #007bff; /* Cor de destaque ao passar o mouse */
}
